<div class="main-nav">
    <div class="left-child"><a href="#/activities"><h5>
        <i class="fa fa-chevron-left link-icon"></i></a></h5></div>
    <div class="center-child"><h5>{{ pageTitle }}</h5></div>
    <div class="right-child" ng-if="activity.activityId"><a ng-click="remove(activity)">
        <h5><i class="fa fa-trash link-icon"></i></h5></a></div>
</div>

<div class="separator-large"></div>

<div class="container">
     <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <div class="loading" ng-show="loading">
                <div class="loading-content">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <form name="form">
                <div ng-if="!loading">
                    <div class="form-group">
                       <label class="control-label">Title</label>
                       <input
                          class="form-control"
                          type="text"
                          placeholder="Activity title"
                          name="activityTitle"
                          ng-model="activity.activityTitle"
                          ng-required="true"
                          ng-minlength="5"/>
                       <div ng-show="form.activityTitle.$dirty" ng-messages="form.activityTitle.$error">
                           <p class="help-block-error" ng-message="required">
                              Please, type this field.</p>
                           <p class="help-block-error" ng-message="minlength">
                              This field must be at least 5 characters long.</p>
                       </div>
                    </div>

                    <div class="form-group">
                       <label class="control-label">Amount Hours</label>
                       <input
                          class="form-control"
                          type="text"
                          placeholder="Amount hours"
                          name="activityAmountHours"
                          ng-model="activity.activityAmountHours"
                          ng-required="true"/>
                       <div ng-show="form.activityAmountHours.$dirty" ng-messages="form.activityAmountHours.$error">
                           <p class="help-block-error" ng-message="required">
                              Please, type this field.</p>
                       </div>
                    </div>

                    <div class="form-group">
                        <md-input-container>
                            <label class="control-label">Details</label>
                            <textarea
                                md-maxlength="150"
                                rows="3"
                                md-select-on-focus
                                ng-model="activity.activityDetails"></textarea>
                        </md-input-container>
                    </div>

                    <div class="form-group">
                        <label for="select" class="control-label">Project</label>
                        <select
                            class="form-control"
                            name="project"
                            ng-required = "true"
                            ng-model="activity.projectId"
                            ng-options="project.projectId as project.projectName for project in projects | orderBy:'projectName'">
                            <option value="">Select activity project</option>
                        </select>
                        <div ng-show="form.project.$dirty" ng-messages="form.project.$error">
                            <p class="help-block-error" ng-message="required">
                               Please, type this field.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="control-label">Owner</label>
                        <select
                            class="form-control"
                            name="userId"
                            ng-required = "true"
                            ng-model="activity.userId"
                            ng-options="user.userId as user.userName for user in users | orderBy:'userName'">
                            <option value="">Select activity owner</option>
                        </select>
                        <div ng-show="form.userId.$dirty" ng-messages="form.userId.$error">
                            <p class="help-block-error" ng-message="required">
                               Please, type this field.</p>
                        </div>
                    </div>

                    <button
                        class="btn btn-primary btn-block"
                        ng-click="save(activity)"
                        ng-disabled="form.$invalid && !loading">Save</button>
                </div>
           </form>
        </div>
    </div>
</div>
