<div class="separator"></div>

<div class="container">
   <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <md-subheader class="md-no-sticky md-wb center-text">Welcome {{ user.user_name }}</md-subheader>
        </div>
    </div>

    <div class="fab-speed-dial">
        <md-fab-speed-dial md-open="speedDialOpen" md-direction="up" ng-class="'md-scale'" ng-show="showSpeedDial">
            <md-fab-trigger>
                <md-button aria-label="Menu" class="md-fab md-success">
                    <i class="fa fa-plus"></i>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">Identify risk</md-tooltip>
                    <a href="#/risk-identifications"><i class="fa fa-thumb-tack"></i></a>
                </md-button>
                <md-button class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible">New risk</md-tooltip>
                    <a href="#/risk-form"><i class="fa fa-exclamation"></i></a>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    <div>
</div>
