<div class="main-nav">
    <div class="left-child"><a href="#/home"><h5><i class="fa fa-chevron-left link-icon"></i></a></h5></div>
    <div class="center-child"><h5>Risk Reviews</h5></div>
</div>

<div class="separator-large"></div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
         <div class="loading" ng-show="loading">
              <div class="loading-content">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                  <span class="sr-only">Loading...</span>
              </div>
         </div>

         <div class="form-group" ng-show="!loading && riskReviews.length > 0">
            <input
              type="text"
              class="form-control center-text"
              placeholder="What are you searching?"
              ng-model="searchCriteria">
         </div>

         <div class="list-group table-of-contents" ng-show="!loading">
              <a
                  class="list-group-item"
                  href="#/risk-review-form/{{ riskReview.riskIdentificationId }}/{{ riskReview.riskId }}"
                  ng-repeat="riskReview in riskReviews | filter:searchCriteria track by riskReview.riskIdentificationId"
                  ng-class="{ 'disabled': riskReview.riskReviewAddedDate }">

                  <span class="badge badge-2" ng-show="riskReview.riskReviewAddedDate">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>

                  <h4 class="list-group-item-heading">
                      {{ riskReview.riskTitle }}
                  </h4>

                  <p class="list-group-item-text">
                      {{ riskReview.riskCause | ellipsis:80 }}
                  </p>

                  <span
                      class="label"
                      ng-class="{ 'label-info': riskReview.projectName, 'label-warning': riskReview.activityTitle }">
                      {{ riskReview.projectName ? 'Project Risk' : 'Activity Risk' }}</span>

                  <span class="label label-primary">
                      {{ riskReview.projectName ? riskReview.projectName : riskReview.activityTitle }}</span>

                  <span class="label label-primary" ng-show="riskReview.riskReviewAddedDate">
                      {{ riskReview.riskReviewAddedDate | date:'dd/MM HH:mm' }}</span>
               </a>
          </div>

         <div class="center-text" ng-show="riskReviews.length == 0 && !loading">
             <p>No results.</p>
         </div>
      </div>
   </div>
</div>
