<div class="main-nav">
    <div class="left-child"><a href="#/home"><h5><i class="fa fa-chevron-left link-icon"></i></a></h5></div>
    <div class="center-child"><h5>Mark Risk as Problem</h5></div>
</div>

<div class="separator-large"></div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <div class="loading" ng-show="loading">
              <div class="loading-content">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                  <span class="sr-only">Loading...</span>
              </div>
          </div>

          <div class="form-group" ng-show="!loading">
            <input
              type="text"
              class="form-control center-text"
              placeholder="What are you searching?"
              ng-model="searchCriteria"
              ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}">
          </div>

          <div class="list-group" ng-show="!loading">
              <a
                  class="list-group-item"
                  href="#/risk-problem-form/{{ risk.riskId }}"
                  ng-repeat="risk in risks | filter:searchCriteria track by risk.riskId">{{ risk.riskTitle }}</a>
         </div>

         <div class="center-text" ng-show="!risks && !loading">
             <p>No results.</p>
         </div>
      </div>
   </div>
</div>
