<div class="main-nav">
    <div class="left-child"><a href="#/risk-reviews"><h5><i class="fa fa-chevron-left link-icon"></i></a></h5></div>
    <div class="center-child"><h5>Risk Review</h5></div>
</div>

<div class="separator-large"></div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <md-content class="md-padding" ng-show="!loading">
          <md-tabs
            md-dynamic-height
            md-border-bottom
            md-selected="tabsConfig.index"
            md-swipe-left="onSwipeLeft()"
            md-swipe-right="onSwipeRight()">
            <md-tab>
              <md-tab-label>
                  <i class="fa fa-info-circle fa-2x fa-fw" aria-hidden="true"></i>
              </md-tab-label>
              <md-tab-body>
                <div class="tab-title">
                  <h5>Ask 1</h5>
                </div>

                <md-radio-group>
                  <br/>
                  <md-radio-button value="0">Apple</md-radio-button>
                  <md-radio-button value="1">Banana</md-radio-button>
                  <md-radio-button value="2">Mango</md-radio-button>
                  <md-radio-button value="3">Letuce</md-radio-button>
                  <md-radio-button value="4">Cabbage</md-radio-button>
                </md-radio-group>

                <hr />

              </md-tab-body>
            </md-tab>

            <md-tab>
              <md-tab-label>
                  <i class="fa fa-pencil-square-o fa-2x fa-fw" aria-hidden="true"></i>
              </md-tab-label>
              <md-tab-body>
                <div class="tab-title">
                  <h5>Ask 2</h5>
                </div>

                <md-radio-group>
                  <br/>
                  <md-radio-button value="0">Apple</md-radio-button>
                  <md-radio-button value="1">Banana</md-radio-button>
                  <md-radio-button value="2">Mango</md-radio-button>
                  <md-radio-button value="3">Letuce</md-radio-button>
                  <md-radio-button value="4">Cabbage</md-radio-button>
                </md-radio-group>

                <hr />

              </md-tab-body>
            </md-tab>

            <md-tab>
              <md-tab-label>
                  <i class="fa fa-pencil-square-o fa-2x fa-fw" aria-hidden="true"></i>
              </md-tab-label>
              <md-tab-body>
                <div class="tab-title">
                  <h5>Ask 3</h5>
                </div>
                <div style="height: 400px;"></div>
              </md-tab-body>
            </md-tab>

            <md-tab>
              <md-tab-label>
                  <i class="fa fa-pencil-square-o fa-2x fa-fw" aria-hidden="true"></i>
              </md-tab-label>
              <md-tab-body>
                <div class="tab-title">
                  <h5>Ask 4</h5>
                </div>
                <div style="height: 400px;"></div>
              </md-tab-body>
            </md-tab>

            <md-tab>
              <md-tab-label>
                  <i class="fa fa-pencil-square-o fa-2x fa-fw" aria-hidden="true"></i>
              </md-tab-label>
              <md-tab-body>
                <div class="tab-title">
                  <h5>Ask 5</h5>
                </div>
                <div style="height: 400px;"></div>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
   </div>
</div>
