<div class="main-nav">
  <div class="left-child"><a href="#/risk-reviews"><h5><i class="fa fa-chevron-left link-icon"></i></a></h5>
  </div>
  <div class="center-child">
    <h5>{{ risk.riskTitle }}</h5></div>
</div>

<div class="separator-large"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <md-content class="md-padding" ng-show="!loading">
        <md-tabs md-dynamic-height md-border-bottom md-selected="tabsConfig.index">
          <md-tab>
            <md-tab-label>
              <i class="fa fa-money fa-2x fa-fw" aria-hidden="true"></i>
            </md-tab-label>
            <md-tab-body>
              <div class="tab-title">
                <h5>Cost</h5>
              </div>
              <md-radio-group ng-click="moveTab()" ng-model="riskReview.riskReviewCost">
                <md-radio-button ng-repeat="riskReviewReference in riskReviewReferences
                    | filter: { riskReviewReferenceType: 'COST' }" value="{{ riskReviewReference.riskReviewReferenceWeight }}">
                  {{ riskReviewReference.riskReviewReferenceTitle }} <opacity>({{ riskReviewReference.riskReviewReferenceWeight }})</opacity>
                </md-radio-button>
              </md-radio-group>
            </md-tab-body>
          </md-tab>

          <md-tab>
            <md-tab-label>
              <i class="fa fa-calendar-o fa-2x fa-fw" aria-hidden="true"></i>
            </md-tab-label>
            <md-tab-body>
              <div class="tab-title">
                <h5>Schedule</h5>
              </div>
              <md-radio-group ng-click="moveTab()" ng-model="riskReview.riskReviewSchedule">
                <md-radio-button ng-repeat="riskReviewReference in riskReviewReferences
                    | filter: { riskReviewReferenceType: 'SCHEDULE' }" value="{{ riskReviewReference.riskReviewReferenceWeight }}">
                  {{ riskReviewReference.riskReviewReferenceTitle }} <opacity>({{ riskReviewReference.riskReviewReferenceWeight }})</opacity>
                </md-radio-button>
              </md-radio-group>
            </md-tab-body>
          </md-tab>

          <md-tab>
            <md-tab-label>
              <i class="fa fa-picture-o fa-2x fa-fw" aria-hidden="true"></i>
            </md-tab-label>
            <md-tab-body>
              <div class="tab-title">
                <h5>Scope</h5>
              </div>
              <md-radio-group ng-click="moveTab()" ng-model="riskReview.riskReviewScope">
                <md-radio-button ng-repeat="riskReviewReference in riskReviewReferences
                    | filter: { riskReviewReferenceType: 'SCOPE' }" value="{{ riskReviewReference.riskReviewReferenceWeight }}">
                  {{ riskReviewReference.riskReviewReferenceTitle }} <opacity>({{ riskReviewReference.riskReviewReferenceWeight }})</opacity>
                </md-radio-button>
              </md-radio-group>
            </md-tab-body>
          </md-tab>

          <md-tab>
            <md-tab-label>
              <i class="fa fa-diamond fa-2x fa-fw" aria-hidden="true"></i>
            </md-tab-label>
            <md-tab-body>
              <div class="tab-title">
                <h5>Quality</h5>
              </div>
              <md-radio-group ng-click="moveTab()" ng-model="riskReview.riskReviewQuality">
                <md-radio-button ng-repeat="riskReviewReference in riskReviewReferences
                    | filter: { riskReviewReferenceType: 'QUALITY' }" value="{{ riskReviewReference.riskReviewReferenceWeight }}">
                  {{ riskReviewReference.riskReviewReferenceTitle }} <opacity>({{ riskReviewReference.riskReviewReferenceWeight }})</opacity>
                </md-radio-button>
              </md-radio-group>
            </md-tab-body>
          </md-tab>

          <md-tab>
            <md-tab-label>
              <i class="fa fa-line-chart fa-2x fa-fw" aria-hidden="true"></i>
            </md-tab-label>
            <md-tab-body>
              <div class="tab-title">
                <h5>Probability</h5>
              </div>
              <md-radio-group ng-click="moveTab()" ng-model="riskReview.riskReviewProbability">
                <md-radio-button ng-repeat="riskReviewReference in riskReviewReferences
                    | filter: { riskReviewReferenceType: 'PROBABILITY' }" value="{{ riskReviewReference.riskReviewReferenceWeight }}">
                  {{ riskReviewReference.riskReviewReferenceTitle }} <opacity>({{ riskReviewReference.riskReviewReferenceWeight }})</opacity>
                </md-radio-button>
              </md-radio-group>
            </md-tab-body>
          </md-tab>

          <md-tab ng-disabled="!riskReview.riskReviewCost || !riskReview.riskReviewSchedule || !riskReview.riskReviewScope
            || !riskReview.riskReviewQuality || !riskReview.riskReviewProbability">
            <md-tab-label>
              <i class="fa fa-check fa-2x fa-fw" aria-hidden="true"></i>
            </md-tab-label>
            <md-tab-body>
              <div class="tab-title">
                <h5>Confirm</h5>
              </div>

              <md-list-item>
                <p>{{ (riskReviewReferences | filter:{ riskReviewReferenceWeight:riskReview.riskReviewCost,
                  riskReviewReferenceType: 'COST'})[0].riskReviewReferenceTitle }}</p>
              </md-list-item>

              <md-list-item>
                <p>{{ (riskReviewReferences | filter:{ riskReviewReferenceWeight:riskReview.riskReviewSchedule,
                  riskReviewReferenceType: 'SCHEDULE'})[0].riskReviewReferenceTitle }}</p>
              </md-list-item>

              <md-list-item>
                <p>{{ (riskReviewReferences | filter:{ riskReviewReferenceWeight:riskReview.riskReviewScope,
                  riskReviewReferenceType: 'SCOPE'})[0].riskReviewReferenceTitle }}</p>
              </md-list-item>

              <md-list-item>
                <p>{{ (riskReviewReferences | filter:{ riskReviewReferenceWeight:riskReview.riskReviewQuality,
                  riskReviewReferenceType: 'QUALITY'})[0].riskReviewReferenceTitle }}</p>
              </md-list-item>

              <md-list-item>
                <p>{{ (riskReviewReferences | filter:{ riskReviewReferenceWeight:riskReview.riskReviewProbability,
                  riskReviewReferenceType: 'PROBABILITY'})[0].riskReviewReferenceTitle }}</p>
              </md-list-item>

              <button class="btn btn-primary btn-block back-top back-bottom" ng-click="save(riskReview)">
                  <i class="fa fa-check fa-!x fa-fw" aria-hidden="true"></i> Save</button>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
