<div class="main-nav">
    <div class="left-child"><a href="#/home"><h5><i class="fa fa-chevron-left link-icon"></i></a></h5></div>
    <div class="center-child"><h5>Risks</h5></div>
    <div class="right-child"><a href="#/risk-form"><h5><i class="fa fa-plus link-icon"></i></h5></a></div>
</div>

<div class="separator-large"></div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <div class="loading" ng-show="loading">
              <div class="loading-content">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                  <span class="sr-only">Loading...</span>
              </div>
          </div>
          <div class="center-text" ng-show="risks.length == 0">
                <p>No results.</p>
          </div>
          <div class="list-group table-of-contents" ng-show="!loading">
              <a class="list-group-item" ng-repeat="risk in risks" href="#/risk-form/{{ risk.id }}">
                  <h4 class="list-group-item-heading">
                       {{ risk.title }}
                  </h4>
                  <p class="list-group-item-text">{{ risk.cause | ellipsis:80 }}</p>
                  <span class="label label-primary">
                      <i class="fa fa-save fa-fw" aria-hidden="true"></i>
                      {{ risk.added_date | date:'dd/MM HH:mm' }}</span>
                  <span class="label"
                      ng-class="{ 'label-success': risk.risk_type_name == 'Opportunity',
                        'label-danger': risk.risk_type_name == 'Threat'}">
                      <i class="fa fa-tags fa-fw" aria-hidden="true"></i>
                      {{ risk.risk_type_name }}</span>
                  <span class="label label-primary">
                      <i class="fa fa-cubes fa-fw" aria-hidden="true"></i>
                      {{ risk.risk_category_name }}</span></a>
        </div>
      </div>
   </div>
</div>
