<div class="main-nav">
    <div class="left-child"><a href="#/home"><h5><i class="fa fa-chevron-left link-icon"></i></a></h5></div>
    <div class="center-child"><h5>Risk Reviews</h5></div>
</div>

<div class="separator-large"></div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
         <div class="loading" ng-show="loading">
              <div class="loading-content">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                  <span class="sr-only">Loading...</span></div></div>

         <div class="form-group" ng-show="!loading && riskIdentifications.length > 0">
            <input
              type="text"
              class="form-control center-text"
              placeholder="What are you searching?"
              ng-model="searchCriteria"></div>

         <div class="list-group table-of-contents" ng-show="!loading">
              <a
                  class="list-group-item"
                  href="#/risk-review-form/{{ riskIdentification.riskIdentificationId }}"
                  ng-repeat="riskIdentification in riskIdentifications | filter:searchCriteria
                    track by riskIdentification.riskIdentificationId">
                  <h4 class="list-group-item-heading">
                      {{ riskIdentification.riskTitle }}
                  </h4>
                  <p class="list-group-item-text">
                      {{ riskIdentification.riskCause | ellipsis:80 }}
                  </p>

                  <span
                      class="label"
                      ng-class="{'label-info': riskIdentification.projectName, 'label-warning': riskIdentification.activityTitle}">
                      {{ riskIdentification.projectName ? 'Project Risk' : 'Activity Risk' }}</span>
                  <span class="label label-primary">
                      {{ riskIdentification.projectName ? riskIdentification.projectName : riskIdentification.activityTitle }}</span></a></div>

         <div class="center-text" ng-show="risks_reviews.length == 0 && !loading">
             <p>No results.</p></div>
      </div>
   </div>
</div>
