<div ng-controller="sideNavCtrl">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
      md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">
          <a ng-click="toggleLeft()">
            <i class="fa fa-bars fa-fw fa-tag" aria-hidden="true"></i></a> &nbsp;&nbsp; Menu
        </h1>
      </md-toolbar>

      <md-content layout-margin>
          <ul class="sidenav-ul">
              <li><a ng-click="toggleLeft()" href="#/projects">
                <i class="fa fa-briefcase fa-fw" aria-hidden="true"></i> Projects</a></li>
              <li><a ng-click="toggleLeft()">
                  <i class="fa fa-clone fa-fw" aria-hidden="true"></i> Activities</a></li>
              <li><a ng-click="toggleLeft()">
                  <i class="fa fa-user-o fa-fw" aria-hidden="true"></i> Staff</a></li>
              <li><a ng-click="toggleLeft()">
                  <i class="fa fa-thermometer-3 fa-fw" aria-hidden="true"></i> Risks</a></li>
              <li><a ng-click="toggleLeft()">
                  <i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i> Reportings</a></li>
              <li><a ng-click="toggleLeft()" href="#/login">
                <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Sign-out</a></li>
          </ul>
      </md-content>
    </md-sidenav>

    <md-content flex layout-padding>
      <div layout="column" layout-align="top center">
        <div class="main-nav">
            <div class="left-child"><h5><a ng-click="toggleLeft()"><i class="fa fa-bars fa-fw fa-tag"></i></a></h5></div>
            <div class="center-child"><h5>Project Risk Prediction</h5></div>
        </div>
      </div>
    </md-content>
  </section>
</div>
